{% extends '::baseAdmin.html.twig' %}
{% block body %}
{{parent()}}
{% endblock %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="table-responsive">

                <table class="table records_list">
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Descripcion</th>
                <th>Respuestacorrecta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.pregunta }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.respuestaCorrecta }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('preguntas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('preguntas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
            <a class="btn btn-w-md btn-accent" href="{{ path('preguntas_new') }}">
                Crear nueva
            </a>
    </div>
    </div>
    </section>
    {% endblock %}
