<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Simulador de Examen Egel</title>
    {% block topJavascripts %}
    <script src="{{asset('public/js/jquery-final.js')}}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
        <!-- The CSS
    ================================================== -->
    {% endblock %}
    
    {% block stylesheets %}
        <link href="{{ asset('public/css/theme.css')}}" rel="stylesheet">
        <link href="{{asset('public/css/animate.min.css')}}" rel="stylesheet">
    {% endblock %}
  
  </head>
 {% block body %}
  <body id="skrollr-body" data-spy="scroll" data-target=".navbar" class="layout-boxed-no" > <!-- "layout-boxed" class for boxed layout "layout-boxed-no" class for full size wrapper -->
    
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
<!--******************************************************
******************** The Navbar
****************************************************** -->

    <!-- Navbar Section -->
    <div class="wrapper wrapper-navbar wrapper-no-padding wrapper-fixed  wrapper-transparent" data-0="background-color:rgba(0,0,0,0);border-bottom:1px solid rgba(255,255,255,.12);" data-150="background-color:rgba(0,0,0,.9);border-bottom:1px solid rgba(255,255,255,0);"><!---->
      <nav class="navbar navbar-inverse navbar-transparent">
        <div class="container-fluid">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand font-sm" href="index.html">Simulador Egel</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{path('usuario')}}" style="background:#33B26E">Entrar al sistema</a></li>
                  <li><a href="#start">Inicio</a></li>
                  <li><a href="#work">Acerca de</a></li>
                  <li><a href="#services">Servicios</a></li>
                  <li><a href="#blog">Testimonios</a></li>
                  <li><a href="#contact">Informacion</a></li>
           </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

<!--******************************************************
******************** The Hero Wrapper
****************************************************** -->

    <div class="wrapper wrapper-100vh wrapper-darkest text-center wrapper-overflow-hidden" style="background-image: url({{asset('public/img/image-12-xl.jpg')}});  background-size:cover; background-position: center center;" id="start" data-top="background-position: 50% 0%;" data-top-bottom="background-position: 50% 100%;">
      <div class="overlay overlay-dark" ></div>
      <div class="container v-align">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center">
            <!--<h1 class="headline">Into the Darkness</h1>-->
             <img src="{{asset('public/img/hero-screen6.png')}}" width="600px" class="center-block img-responsive" alt="The Makers"/>
          </div>
          <div class="col-md-8 col-md-offset-2">
                  <p class="lead">El mejor simulador de la prueba <strong>Egel</strong>.Prueba nuestro servicio gratuitamente</p>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-lg btn-primary btn-block" href="#work">Acerca de</a>
          </div>
        </div>
      </div>
      <div class="mouse_scroll animated bounceInDown" ><a href="#work"><i class="fa fa-angle-down fa-2x fa-border-circle"></i></a></div>
    </div>

<!--******************************************************
******************** The img4 wrapper
****************************************************** -->
  <div id="work"></div>
    <div id="bck-img4" class="wrapper wrapper-default wrapper-half-left wow fadeIn">
      <div class="container wrapper-xl">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-7 ">
            <h4>Acerca de</h4>
            <p class="lead">
             Anteriormente los exámenes que requerían de un gran esfuerzo físico y mental como los de ingreso a estudios medio superior y superior.
            </p>
          </div>
        </div>
      </div>
    </div>

<!--******************************************************
******************** The img5 wrapper
****************************************************** -->

    <div id="bck-img5" class="wrapper wrapper-default wrapper-half-right wow fadeIn">
      <div class="container wrapper-xl">
        <div class="row">
          <div class="col-xs-5">
            <h4>Desarrollo</h4>
            <p class="lead">
                  La importancia del desarrollo de software de simulación recae en la preparación de los estudiantes con pruebas que los pongan en un entorno similar al que van a experimentar en el EGEL en estos días beneficiados con el acceso a las tecnologías de la información con la que cuentan los estudiantes resulta  ser  una  buena  opción como preparación y retroalimentación poder reflejar los rubros en que los alumnos proyectan un menor rendimiento. 
            </p>
          </div>
        </div>
      </div>
    </div>

<!--******************************************************
******************** The img6 wrapper
****************************************************** -->

    <div id="bck-img6" class="wrapper wrapper-default wrapper-half-left wow fadeIn">
      <div class="container wrapper-xl">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-7">
            <h4>Capacitación</h4>
            <p class="lead">
                  La intención de desarrollar un software de simulación del EGEL es capacitar a los estudiantes de licenciatura para que den un mejor rendimiento que posteriormente les beneficiará en su titulación y también beneficiará en el número de egresados que proyecta la academia gracias a dicho software. 
            </p>
          </div>
        </div>
      </div>
    </div>

<!--******************************************************
******************** The CTA wrapper
****************************************************** -->

    <div class="wrapper wrapper-darkest wrapper-lg wow fadeIn" style="background-image: url({{asset('public/img/geo.png')}}); background-size:cover; background-position: top center;">
      <div class="container">
        <div class="row">
         <div class="col-md-12">
             <h2 class=" text-center">Desarrollado por <strong>Glosbe</strong></h2>
             <hr style="border-color:#fff">
         </div>
        </div>
      </div>
    </div>

<!--******************************************************
******************** The Services wrapper
****************************************************** -->
  <div id="services"></div>
      <div class="wrapper wrapper-accent wrapper-lg " style="background-image: url({{asset('public/img/image-17-xl.jpg')}}); background-size:cover; background-position: center center;" data-top="background-position: 50% 50%;" data-top-bottom="background-position: 50% 0%;">
        <div class="overlay overlay-darker"></div>
        <div class="container wrapper-md wrapper-no-padding-top text-center">
          <div class="row">
            <div class="col-md-12">
                <h2>Servicios</h2>
                <p class="lead">Ofrecemos los servicios que harán tu experiencia mas placentera con feedback, envio de correo   y otros features que podran llevar tu capacidad al maximo.
                </p>
            </div>
          </div>
          <div class="row wrapper-sm">
            <div class="col-md-4" >
              <i class="fa fa-code fa-4x"></i>
              <h4>Envio de resultados al correo</h4>
              <p>Nuestro software ntiene la ventaja de poder enviar correos con los resultados del test para ayudar al alumno a consultar cuandoquiera sus resultados  </p>
            </div>
            <div class="col-md-4" >
              <i class="fa fa-wordpress fa-4x"></i>
              <h4>Retroalimentacion de tus respuestas </h4>
              <p>El sistema podra comparar las respuestas que ingreses con las respuestas correctas y te dara retroalimentacion sobre las respuestas que expusiste en el test  </p>
            </div>
            <div class="col-md-4" >
              <i class="fa fa-github fa-4x"></i>
              <h4>Comparacion y posicionamiento acuerdo a tus resultados</h4>
              <p>Podras medir tu resultado obtenido con el de las demas usuarios de la paltaforma</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" >
              <i class="fa fa-cogs fa-4x"></i>
              <h4>Rating de tus calificaciones</h4>
              <p>Tus calificaciones podran ser rankeadas en la plataforma para poder motivarte y seguir estudiando </p>
            </div>
            <div class="col-md-4" >
              <i class="fa fa-drupal fa-4x"></i>
              <h4>Adaptable a moviles</h4>
              <p>Nosotros sabemos que el estudio no para cuando no estas en casa, sabemos que tienes ratos libres en el transporte u otros lugares y podrias aprovecharlos para prepararte </p>
            </div>
            <div class="col-md-4" >
              <i class="fa fa-apple fa-4x"></i>
              <h4>Genaracion de tus calificaciones en PDF,Excel,Word</h4>
              <p> Tus calificaciones puden ser respaldadas en varios formatos la desición sera tuya</p>
            </div>
          </div>
        </div>
      </div>

<!--******************************************************
******************** The Cards wrapper
****************************************************** -->
  <div id="blog"></div>
    <div class="wrapper wrapper-lg wrapper-lightest" id="team">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
              <h2>Testimonios</h2>
              <p class="lead">Personas que estan hablando de nosotros </p>
            </div>
          </div>
          <div class="row text-center">

              <div class="col-md-4  wow fadeIn">
                <div class="row">
                  <div class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="{{asset('public/img/image-19-sm.jpg')}}" class="pull-top img-responsive" alt="image"/>
                    <img src="{{asset('public/img/testimonial6.jpg')}}" class="img-circle pull-top" width="80"  alt="image"/>
                    <div class="row">
                      <div class="col-md-12">
                        <h5>E. Charles White</h5>
                        <p>La plataforma es excelente y puedo estudiar desde mi celular</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="{{asset('public/img/image-20-sm.jpg')}}" class="pull-top img-responsive"  alt="image"/>
                    <img src="{{asset('public/img/testimonial1.jpg')}}" class="img-circle pull-top" width="80"  alt="image"/>
                    <div class="row">
                      <div class="col-md-12">
                        <h5>John Cash</h5>
                        <p>Me ayudo mucho a realizar mi preparacion en el exámen</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 wow fadeIn" data-wow-delay="1s">
                <div class="row">
                  <div class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="{{asset('public/img/image-21-sm.jpg')}}" class="pull-top img-responsive"  alt="image"/>
                    <img src="{{asset('public/img/testimonial7.jpg')}}" class="img-circle pull-top" width="80"  alt="image"/>
                    <div class="row">
                      <div class="col-md-12">
                        <h5>April Lounge</h5>
                        <p>Buen sistema con excelente feedback</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

<!--******************************************************
******************** The Contact wrapper
****************************************************** -->
  <div id="contact"></div>
    <div class="wrapper wrapper-xl wrapper-darkest">
      <div class="overlay" style="background-image: url({{asset('public/img/background.jpg')}}); background-size:cover; background-position: center center;"></div>
      <div class="overlay overlay-darker"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h2>Te interesa saber más ?</h2>
            <p class="lead">Solicita información</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
          <!-- The contact form --> 
            <form action="php/contact.php" method="post" role="form" data-toggle="validator" class="form-contact  wow fadeInUp">
       
                            <div class="form-group">
                              <label for="inputName" class="control-label">Nombre</label>
                              <input type="text" name="name" class="form-control"  required ><br>
                              <div class="help-block with-errors"></div>
                            </div>
                            
                            <div class="form-group">
                              <label for="inputLastName" class="control-label">Email</label> 
                              <input type="email" name="email" class="form-control" required ><br>
                              <div class="help-block with-errors"></div>
                            </div>
                            
                            <div class="form-group">
                              <label for="inputLastName" class="control-label">Comentario</label> 
                              <textarea rows="5" name="message" cols="30" class="form-control"  required ></textarea><br>
                              <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group text-center">
                              <input type="submit" name="submit" value="Enviar" class="btn btn-lg btn-block btn-success">
                            </div>
                         
            </form>
            <!-- Contact form end -->
          </div>
        </div>
      </div>
    </div>

<!--******************************************************
******************** The Footer wrapper
****************************************************** -->
 

<!--******************************************************
******************** assets and scripts
****************************************************** -->

    {% block bottomJavascripts %}
    <!-- All core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{asset('public/js/jquery.min.js')}}" type="text/javascript"></script> <!-- A must-have - dont remove it! -->
    <script src="{{asset('public/js/bootstrap.min.js')}}" type="text/javascript"></script> <!-- A must-have - dont remove it! -->
    <script src="{{asset('public/js/owl.carousel.min.js')}}" type="text/javascript"></script> <!-- The slider script - remove if you don´t use it -->
    <script src="{{asset('public/js/smoothscroll.min.js')}}" type="text/javascript"></script> <!-- smoothscrolling script - remove if you don´t use it -->
    <script src="{{asset('public/js/skrollr.min.js')}}" type="text/javascript"></script> <!-- The scolling script for parallax effects - remove if you don´t use it -->
    <script src="{{asset('public/js/validator.min.js')}}" type="text/javascript"></script> <!-- The script for particle effects - remove if you don´t use it -->
    <script src="{{asset('public/js/wow.min.js')}}" type="text/javascript"></script> <!-- The script for particle effects - remove if you don´t use it -->



    <!-- Init the Owl Carousel slider script - remove this code if it is not in use -->
    <script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        animateOut: 'fadeOut',
        autoHeight:true,
        items:1,
        loop: true,
        autoplay: true,
        autoplaySpeed: 4000,
        margin:0,
        stagePadding:0,
        smartSpeed:1000
    });
    </script>

    <!-- Init wow.js for animations -->
    <script>
      wow = new WOW({
        boxClass:     'wow',      // default
        animateClass: 'animated', // default
        offset:       100,          // default
        mobile:       false,       // default
        live:         true        // default
        }
        )
      wow.init();
    </script>
    
    <!-- Init the parallax script - if you don´t load it above remove it here too -->
    <script type="text/javascript"> 
        var s = skrollr.init();
    </script>

        <!-- Preloader -->
    <script type="text/javascript">
        //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('#status').fadeOut(); // will first fade out the loading animation
                $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow':'visible'});
            })
        //]]>
    </script>
    {% endblock %}
  </body>
{% endblock %}
</html>


