{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AreasCompletadas list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entornosocial</th>
                <th>Matematicas</th>
                <th>Arquitectura</th>
                <th>Redes</th>
                <th>Software</th>
                <th>Ingsoftware</th>
                <th>Graficacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('areascompletadas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.entornoSocial }}</td>
                <td>{{ entity.matematicas }}</td>
                <td>{{ entity.arquitectura }}</td>
                <td>{{ entity.redes }}</td>
                <td>{{ entity.software }}</td>
                <td>{{ entity.ingSoftware }}</td>
                <td>{{ entity.graficacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('areascompletadas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('areascompletadas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('areascompletadas_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
