{% extends '::baseAdmin.html.twig' %}
{% block body %}
{{parent()}}
{% endblock %}
{% block content %}
{#{{parent()}}#}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <h1>Iniciar nuevo Examen</h1>
            <div class="panel panel-filled">
                <div class="panel-heading">Usuario: <small>{{user.username}}</small></div>
                <div class="panel-body">
                <p>Datos</p>
                    <div class="bs-example">
                        <dl>
                            <dt>Nombre completo</dt>
                            <dd>{{user.nombre~' '~user.apPaterno~' '~user.apMaterno}} </dd>
                        </dl>
                        <dl>
                            <dt>Fecha de nacimiento</dt>
                            <dd>{{user.fechaNacimiento|date('d/m/Y')}} </dd>
                        </dl>
                        <dl>
                            <dt>Domicilio</dt>
                            <dd> {{'Calle '~user.domicilio~' , '~user.municipio~',  Estado '~user.estado}} </dd>
                        </dl>
                        <dl>
                            <dt>Matricula</dt>
                            <dd>{{user.matricula}} </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <!-- INDICACIONES -->
            <div class="panel panel-filled">
                <div class="panel-heading">Descripcion del examen</div>
                <div class="panel-body">
                <p>Indicaciones</p>

                    <div class="bs-example">
                    <ul>
                    <p>¿Qué es?</p>
                    <li>
                    Es una prueba de cobertura nacional que evalúa el nivel de conocimientos y habilidades académicas de los recién egresados de la carrera en Ingeniería de Software y demás carreras afines. 
                    El EGEL permite identificar si los egresados de la licenciatura cuentan con los conocimientos y habilidades necesarios para iniciarse eficazmente en el ejercicio profesional.
                    </li>
                    <p>¿A quién está dirigido?</p>
                    <li>
                    A los egresados de la carrera en Ingeniería de Software y demás carreras afines, que han cubierto el 100% de los créditos, estén o no titulados, y en su caso, a estudiantes cursando el último semestre de la carrera, siempre y cuando la institución formadora así lo solicite.
                    </li>
                    <p>Contenido de la prueba</p>
                    <li>El EGEL-Ingeniería de Software evalúa los conocimientos y habilidades en las áreas y subáreas de la formación del Ingeniero de Software y demás carreras afines, acordadas por el Consejo Técnico como centrales para medir la formación profesional en este campo.
                    Para conocer el contenido de cada subárea favor de consultar la guía.</li>


                    </ul>
                    </div>
                </div>
            </div>
            <a class="btn btn-block btn-lg btn-warning" href="{{ path('test_new') }}">
                Siguiente
            </a>

        </div>
    </div>
</section>    
{% endblock %}
