{% extends '::baseAdmin.html.twig' %}
{% block body %}
{{parent()}}
{% endblock %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="table-responsive">

                <table class="table records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>relacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.area.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('subarea_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('subarea_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a class="btn btn-w-md btn-primary" href="{{ path('subarea_new') }}">
            Crear Nueva
            </a>
</div>
</div>
</div>
</section>
    {% endblock %}


