{% extends '::baseAdmin.html.twig' %}
{% block body %}
{{parent()}}
{% endblock %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <h1>Perfil</h1>

            <div class="table-responsive">

                <table class="table records_list">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-w-md btn-accent" href="{{ path('subarea') }}">
            Regresar
        </a>
        <a class="btn btn-w-md btn-primary" href="{{ path('subarea_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-w-md btn-accent', 'type': 'button'} }) }}
</ul>
</div>
</div>
</div>
</section>
{% endblock %}
